/.pybuild/
/build/
/dist/
/debian/.debhelper/
/debian/mesh-radio-manager/
/debian/*.debhelper
/debian/*.substvars
/debian/files
/debian/*.log
/debian/debhelper-build-stamp
/*.egg-info/
/src/*.egg-info/
__pycache__/
*.py[cod]
